

body {
  background-color: #FFFDF8;
  flex-direction: row;
}

.interview {
  width:48%;
  height:100vh;
  float:left;
margin-left:3%;
margin-top:3%;
margin-bottom:5%;
margin-right:3%
}

.container {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content:flex-end;
overflow-x: scroll;
  margin-left:50%;
  height:100vh;
  position:fixed;
  bottom: 0;
  width: 50%;
}

a:hover {
  background-color: yellow;
}

.book1 {
  float: right;
  margin-left: 0px;
  width:40px;
  height:90vh;
  background-color:red;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.book2 {
  float: right;
  margin-bottom: 10px;
  margin-left: 0px;
  width:35px;
  height:90vh;
  border-radius: 6px;
  background-color:cornflowerblue;
  margin-top: 40px;
  margin-bottom: 15px;
}

.book3 {
  float:right;
  margin-left: 0px;
  width:40px;
  height:87vh;
  border-radius: 6px;
  background-color:gold;
  margin-top: 64px;
  margin-bottom: 15px;
}
.book4 {
  float:right;
  margin-left: 0px;
  width:60px;
  height:65vh;
  border-radius: 6px;
  background-color:green;
  margin-top: 220px;
  margin-bottom: 15px;
}
.book5 {
  float:right;
  margin-left: 0px;
  width:40px;
  height:88vh;
  border-radius: 6px;
  background-color:brown;
  margin-top: 55px;
  margin-bottom: 15px;
}
.book6 {
  float:right;
  margin-left: 0px;
  width:30px;
  height:85vh;
  border-radius: 6px;
  background-color:orchid;
  margin-top: 75px;
  margin-bottom: 15px;
}
.book7 {
  float:right;
  margin-left: 0px;
  width:40px;
  height:85vh;
  border-radius: 6px;
  background-color:orangered;
  margin-top: 75px;
  margin-bottom: 15px;
}
.book8 {
  float:right;
  margin-left:0px;
  width:55px;
  height:75vh;
  border-radius:6px;
  background-color:palevioletred;
  margin-top: 148px;
  margin-bottom: 15px;
}
.book9 {
  transform:rotate(4deg);
  float:right;
  margin-left: 0px;
  width:36px;
  height:90vh;
  border-radius: 6px;
  background-color:orange;
  margin-top: 40px;
  margin-bottom: 15px;
}
.book10 {
  transform:rotate(4deg);
  float:right;
  margin-left: 0px;
  width:30px;
  height:86vh;
  border-radius: 6px;
  background-color:hotpink;
  margin-top: 70px;
  margin-bottom: 15px;
}
.book11 {
  transform:rotate(4deg);
  float: right;
  margin-left: -3px;
  width:55px;
  height:80vh;
  border-radius: 6px;
  background-color:olive;
  margin-top: 114px;
  margin-bottom: 15px;
}

.book12 {
  transform:rotate(4deg);
  float:right;
  margin-left: 0px;
  width:45px;
  height:90vh;
  border-radius: 6px;
  background-color:red;
  margin-top: 40px;
  margin-bottom: 15px;
}

h1
{
  margin-top:30px;
  font-size:40px;
  font-family:'mos_pma_sans_stencil_regulaRg';
  padding-right: 4.5%;
  padding-bottom: 5%;
}

img {
  width: 100%;
  object-fit: cover;
}

h2
{
  font-family:'mos_pma_sans_stencil_regulaRg';
  font-family: sans-serif;
  transform: rotate(-90deg);
  /* transform-origin: right, top; */
  top:50%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
align-items: center;
flex-direction: column;
}

a { color:orangered; }

h3
{
  margin-top:30px;
  font-size:33px;
  font-family:'mos_pma_sans_stencil_regulaRg';
  padding-right: 4.5%;
  padding-bottom: 5%;
  color:orangered;
}
